* {
    margin:0;
}

.col, .col-2, .col-3 {
    background-color: cadetblue;
    color: white;
    flex:1;
    padding:20px;
}

.col-2 {
    flex:2;
}

.col-3 {
    flex:3;
}

.row {
    height:60px;
    display: flex;
    justify-content: space-between;
    margin:20px 0px;
    gap:10px;
}