/* CSS RESET */
* {
    margin: 0;
    padding: 0;
}

#container {
    width: 1000px;
    min-height: 200px;
}

/* NAVBAR */
#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    background-color: #9fc5f8;
    color: white;
}

#navbar > div {
    display: flex;
}

#navbar > div > h2 {
    margin-left: 20px;
}

/* MAIN CONTENT */
#content {
    margin: 0px 100px;
}

#location-and-units, #weather-cards, #location-and-units > div, .weather-card, .weather-card > div {
    display: flex;
    justify-content: space-between;
}

#location-and-units {
    padding: 15px 0px;
    border-bottom: black 2px solid;
    align-items: center;
}

#location-and-units > div {
    align-items: center;
}

#location-and-units > div > p {
    margin-right: 10px;
}

#location-and-units > div > select {
    padding: 5px;
}



#weather-cards {
    margin-top: 15px;
    gap: 20px;
}

.weather-card {
    background-color: #eeeeee;
    flex: 1;
    height: 300px;
    padding: 20px 20px;
    flex-direction: column;
    align-items: center;
}

.weather-card > img {
    width: 125px;
    border-radius: 50%;
}

.weather-card > div {
    width: 125px;
}




/* COOKIES */
#cookie-notice {
    position: fixed;
    bottom: 10px;
    left: 100px;
    width: 750px;
    padding: 10px 20px;
    border:black solid 2px;
    box-shadow: black 1px 1px 2px;
    gap: 20px;
    background-color: #eeeeee;
    align-items: center;
}

#cookie-notice > img {
    width: 75px;
    height: 75px;
}

#cookie-notice, #cookie-notice > div > div {
    display: flex;
}

#cookie-notice > div > h3 {
    margin-bottom: 10px;
}

#cookie-notice > div > div {
    gap: 30px;
}


#cookie-notice > div > div > p {
    flex: 7;
}

#cookie-notice > div > div > button {
    background-color: #9fc5f8;
    border:black solid 2px;
    box-shadow: black 2px 2px;
    padding: 0px 7px;
    height: 30px;
    flex: 1;
    font-weight: bold;
}


/* COLORS AND FONT */
.red-text {
    color: #cf2a27;
}

.blue-text {
    color: #2b78e4;
}

h1, h2, h3, p, button {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}